---
layout: page
title: Categories
permalink: /categories/
---

{% assign categories = site.categories | sort %}

{% for category in categories %}
  {% assign category_name = category[0] %}
  {% assign posts = category[1] %}
  
  <h2 id="{{ category_name | slugify }}">{{ category_name }}</h2>
  <ul class="category-posts">
    {% for post in posts %}
      <li>
        <time datetime="{{ post.date }}">{{ post.date | date: "%b %d, %Y" }}</time>
        &middot;
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
